body {
    font-family: Arial, sans-serif;
    background-color: #a48bfe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-control {
    margin-bottom: 10px;
    background: #eee;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: calc(100% - 20px);
}

.login-btn {
    width: 100%;
    background: #845ff2;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.login-btn:hover {
    background: #7143fb;
}
